<p>
  <strong>
  <%= comment.user.first_name %>
  <%= comment.user.last_name %>
  </strong>: <%= comment.comment %> | 
  <em>commented on:
  <%= comment.created_at.strftime("%A %B, %d %Y %I:%M")%>
  <% if comment.created_at != comment.updated_at %>
 | <%= comment.updated_at.strftime("%A %B, %d %Y %I:%M") %>
  <% end %>
  </em>
  <% if current_user && current_user == comment.user %>
  <%= link_to 'Delete', [comment.post, comment],
                 data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  <% end %>
  </p>
</p>