<%= form_for @user, url: user_path(@user) do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <div class="mb-3">
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>
  <div class="mb-3">
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>
  <div class="mb-3">
    <%= form.label :age, style: "display: block" %>
    <%= form.number_field :age %>
  </div>
  <div class="mb-3">
    <%= form.label :about, style: "display: block" %>
    <%= form.text_area :about %>
  </div>
  <div class="mb-3">
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>
    <% form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.button "Update", type: "submit", :class => "btn btn-primary mb-3" %>
  </div>
<% end %>