<div>
<% if @user.avatar.attached? %>
<div>
    <%= image_tag @user.avatar.variant(:thumb), class: "img-fluid" %>
</div>
<% end %>
<h1><%= @user.first_name %> <%= @user.last_name %>'s Page</h1>
<ul class="list-group">
    <li class="list-group-item">First Name: <%= @user.first_name %></li>
    <li class="list-group-item">Last Name: <%= @user.last_name %></li>
    <li class="list-group-item">Age: <%= @user.age.to_s %></li>
    <li class="list-group-item">About: <%= @user.about %></li>
</ul>
 <%=link_to user_posts_path(:user_id => @user.friendly_id) do %>
    <strong>
    <%= @user.first_name %>
    <%= @user.last_name %> 's posts
    </strong>
    <% end %>
<% if user_signed_in? %>
<% if @user != current_user %>
    <% if @user != current_user.friends.find_by(id: @user.id) %>
<%= button_to "Add Friend", friendships_path(:friend_id => @user.id), :method => :post %>
<p>Note the other person must friend you back to be your friend</p>
    <% end %>
<% else %>

<h2>Friends</h2>
    <ul>
        <% for friendship in @user.friendships %>
            <li>
            <%=h friendship.friend.first_name %>
            <%=h friendship.friend.last_name %>
            <p><%= link_to "Go to User's page", user_path(friendship.friend) %></p>
            <%= link_to "remove friend", friendship, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
            </li>
            <% if @user.inverse_friends.find_by(:id => friendship.friend.id) %>
                <p>Friend Request Accepted</p>
            <% else %>
                <p>Friend Request Pending</p>
            <% end %>
        <% end %>
    </ul>
<% end %>
    <p><%# link_to "Find Friends", users_path %></p>
</div>
<% end %>
