<div>
<h1>User page</h1>
<ul>
    <li>First Name: <%= @user.first_name %></li>
    <li>Last Name: <%= @user.last_name %></li>
    <li>Age: <%= @user.age.to_s %></li>
    <li>About: <%= @user.about %></li>
    
</ul>
<% if @user != current_user %>
    <% if @user != current_user.friends.find_by(id: @user.id) %>
<%= button_to "Add Friend", friendships_path(:friend_id => @user.id), :method => :post %>
<p>Note the other person must friend you back to be your friend</p>
    <% end %>
<% else %>

<h2>Friends</h2>
    <ul>
        <% for friendship in @user.friendships %>
            <li>
            <%# if friendship.friend== @user.inverse_friends.%>
            <%=h friendship.friend.first_name %>
            <%=h friendship.friend.last_name %>
            <%= link_to "remove friend", friendship, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
            </li>
        <% end %>
    </ul>
<% end %>
    <p><%= link_to "Find Friends", users_path %></p>
</div>

