<h1>User page!</h1>
<ul>
    <li>First Name: <%= @user.first_name %></li>
    <li>Last Name: <%= @user.last_name %></li>
    <li>Age: <%= @user.age.to_s %></li>
    <li>About: <%= @user.about %></li>
</ul>
<% if @user != current_user %>
<%= button_to "Add Friend", new_friendship_path(:friend_id => @user.id), :method => :post %>
<% end %>


