<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :content, "Enter your Post Text Here:", style: "display: block" %>
    <%= form.text_field :content, :class => "input-large" %>
    <% form.hidden_field :user_id, value: current_user.id %>
  </div>
  <div>
    <%= form.label :images, "Upload Images or gifs (.png, .jpg, or .gif) - Max 1:", style: "display: block"%>
    <%= form.file_field :images,multiple: true, direct_upload: true%>
  </div>
  <div>
  <%= form.label :visibility, "Select Post Visibility" %>
  <%= form.select :visibility, [["Public", 'post_visible'], ["Friends Only", "friends_only"], ["Private", "not_visible"]] %>
  </div>

  <div>
    <%= form.button "Create/Edit Post", type: "submit", :class => "btn btn-primary" %>
  </div>
<% end %>
