<div id="<%= dom_id post %>">
  <div class="card-header">
    <%=link_to user_posts_path(:user_id => User.friendly.find(post.user_id)) do %>
    <strong>
    <%= post.user.first_name %>
    <%= post.user.last_name %>
    </strong>
    <% end %>
  </div>
  <% if post.images.attached? %>
  <% post.images.each do |image| %>
  <%= image_tag image.variant(:small), class: "img-fluid", onerror: "this.style.display='none'" %>
  <% end %>
  
  <% end %>
  <div class="card-text">
  <p class="fs-1">
    <%= post.content %>
  </p>
  <div class="fs-6">
    <em>
      <p>Posted on: <%= post.created_at.strftime("%c") %></p>
      <% if post.updated_at != post.created_at %>
        <p>Lasted edited: <%= post.updated_at.strftime("%c") %></p>
      <% end %>
    </em>
    <em>
    <p>
    Post Visibility: 
      <% if post.visibility == nil || post.visibility =='post_visible'%>
      Public
      <% elsif post.visibility == 'friends_only'%>
      Friends Only
      <% else %>
      Private
      <% end %>
    </p>
    </em>
    </div>
  </div>
</div>
