<div id="<%= dom_id post %>">
  <div class="card-header">
    <strong>
    <%= post.user.first_name %>
    <%= post.user.last_name %>
    </strong>
  </div>
  <% if post.images.attached? %>
  <% post.images do |image| %>
  <%= image_tag image class: "img-flex" %>
  <% end %>
  
  <% end %>
  <div class="card-text">
  <p class="fs-2">
    <%= post.content %>
  </p>
  <em>
    <p>Posted on: <%= post.created_at.strftime("%A %B, %d %Y %I:%M") %></p>
    <% if post.updated_at != post.created_at %>
      <p>Lasted edited: <%= post.updated_at.strftime("%A %B, %d %Y %I:%M") %></p>
    <% end %>
  </em>
  </div>
</div>
