<h1>Editing post</h1>

<%= render "form", post: @post %>


<% if @post.images.attached? %>
  <% @post.images.each do |image| %>
    <div class="box_image">
      <div class="box_content">
        <%= image_tag image.representation(resize_to_limit: [400, 400]), class: "img-flex" %>
         <%= link_to 'Remove Image', delete_images_post_url(image.id),
                data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
<%= submit_tag "Delete selected" %>
<% end %>

<br>

<div>
  <%= link_to "Show this post", @post %> |
  <%= link_to "Back to posts", posts_path %>
</div>
