<h1>Friend Posts</h1>
<% if user_signed_in? %>
<%= link_to "New post", new_post_path, class: "btn btn-primary" %>
<% end %>
<% if @posts != nil %>
<div id="posts">
  <% @posts.each do |post| %>
    <div class="card">
      <div class="card-body">
      <%= render post %>
      <p>&#11088 <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
      <p><%= post.comments.count%> <%= (post.comments.count) == 1 ? 'Comment' : 'Comments'%></p>
      <p>
      <%= link_to "Show this post and comments", post, class: "btn btn-light" %>
      </p>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @posts,  theme: 'bootstrap-5',
                   pagination_class: "pagination-sm flex-wrap justify-content-center",
                   nav_class: "d-inline-block"%>
<% else %>
    <p>No friends or friends posts yet! Make some!</p>
<% end %>