<h1>Posts</h1>
<%= link_to "New post", new_post_path %>


<div id="posts">
  <% @posts.each do |post| %>
    <div class="card-body">
      <%= render post %>
      <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
      <p>
      <%= link_to "Show this post", post %>
      </p>
    </div>
  <% end %>
</div>


