<h1><%=@user.first_name%> <%= @user.last_name %>'s Posts</h1>
<p><%= link_to "#{@user.first_name} #{@user.last_name}'s page", user_path(@user) %></p>
<% if user_signed_in? %>
<div class="mb-3">
<%= link_to "New post", new_post_path, class: "btn btn-primary" %>
</div>
<% end %>


<div id="posts">
  <% @posts.each do |post| %>
    <div class="card">
      <div class="card-body">
      <%= render post %>
      <p>&#11088 <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
      <p>
      <%= link_to "Show this post and comments", post, class: "btn btn-light" %>
      </p>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @posts,  theme: 'bootstrap-5',
                   pagination_class: "pagination-sm flex-wrap justify-content-center",
                   nav_class: "d-inline-block"%>

