<h1>Profile Page</h1>
<ul>
    <li>First Name: <%= @profile.first_name %></li>
    <li>Last Name: <%= @profile.last_name %></li>
    <li>Age: <%= @profile.age.to_s %></li>
    <li>Likes <%= @profile.likes %></li>
    <li>Dislikes: <%= @profile.dislikes %></li>
    <li>About <%= @profile.about %></li>
</ul>


<h2>Friends</h2>
<% if @user.friendships == nil %>
  <p>No Friendships, why don't you make some?</p>
<% else %>
  <ul>
    <% for friendship in @user.friendships %>
      <li>
        <%=h friendship.friend.username %>
        (<%= link_to "remove", friendship, :method => :delete %>)
      </li>
    <% end %>
  </ul>

  <p><%= link_to "Find Friends", users_path %></p>

  <h2>Friended by Users</h2>
  <ul>
    <% for user in @user.inverse_friends %>
      <li><%=h user.username %></li>
    <% end %>
  </ul>
<% end %>
