<h1>Profile Page</h1>
<ul>
    <li>First Name: <%= @profile.first_name %></li>
    <li>Last Name: <%= @profile.last_name %></li>
    <li>Age: <%= @profile.age.to_s %></li>
    <li>Likes <%= @profile.likes %></li>
    <li>Dislikes: <%= @profile.dislikes %></li>
    <li>About <%= @profile.about %></li>
</ul>