<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1 class="navbar-brand" >Facebook Clone</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <%= link_to "Home", root_path, class: "sr-only, nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "My Posts", posts_path, class: "sr-only, nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  <p class="navbar-text float-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
   <%= link_to 'Edit profile', edit_user_path(current_user), class: 'sr-only, navbar-link' %> |
  <%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'sr-only, navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, class: 'sr-only, navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, class: 'sr-only, navbar-link'  %>
<% end %>
</p>
  </div>
</nav>