<nav class="navbar navbar-expand-lg navbar-light bg-light text-dark">
<div class="container-fluid">
<%=image_tag asset_path("book sprite large.svg", class: "navbar-brand img-fluid", alt: "logo")%>
  <span class="navbar-brand" >The Andy Hon</span>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
      <li class="nav-item"> 
       <%= link_to "Home", root_path, class: "nav-link" %>   
      </li>
      <li class="nav-item">
        <%if user_signed_in?%>
        <%= link_to "My Posts", self_posts_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Friend Only Posts", friend_posts_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Find Friends", users_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
    <ul class="navbar-nav mr-auto">
<% if user_signed_in? %>
  <% if current_user.avatar.attached? %>
      <%= image_tag current_user.avatar.variant(:mini), class: "navbar-brand img-fluid rounded-circle", alt: "User Avatar"  %>
  <% end %>
  <li class="navbar-text">
  <% if current_user.role == 'admin' %>
    <%= current_user.role %>
  <% end %>
    <strong><%= current_user.first_name %> <%= current_user.last_name%> </strong>
  </li>
    <li class="nav-item">
      <%= link_to 'View Profile', user_path(current_user), class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Edit profile', edit_user_path(current_user), class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-outline-secondary'  %>
    </li>
<% else %>
  <li class="nav-item">
    <%= link_to "Sign up", new_user_registration_path, class: 'nav-link'  %>
  </li>
  <li class="nav-item">
    <%= link_to "Login", new_user_session_path, class: 'nav-link'  %>
  </li>
<% end %>
</ul>
<!-- Navbar -->
</div>
</div>
<!-- Container -->
</nav>