<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
  <h1 class="navbar-brand" >Andy Book</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <%= link_to "Home", root_path, class: "sr-only, nav-link" %>
      </li>
      <li class="nav-item">
        <%if user_signed_in?%>
        <%= link_to "My Posts", self_posts_path, class: "sr-only, nav-link" %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "Find Friends", users_path, class: "sr-only, nav-link" %>
      </li>
    </ul>
    </div>
<% if user_signed_in? %>
<div class="nav-item">
    <%= current_user.avatar %>
  </div>
  <div class="nav-item">
    Logged in as <strong><%= current_user.email %></strong>
  </div>
    <li class="nav-item">
      <%= link_to 'View Profile', user_path(current_user), class: 'sr-only, navbar-link' %>
    </li>
    <div class="nav-item">
      <%= link_to 'Edit profile', edit_user_path(current_user), class: 'sr-only, navbar-link' %>
    </div>
    <div class="nav-item">
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'sr-only, navbar-link'  %>
    </div>
<% else %>
  <div class="nav-item">
    <%= link_to "Sign up", new_user_registration_path, class: 'sr-only, navbar-link'  %>
  </div>
  <div class="nav-item">
    <%= link_to "Login", new_user_session_path, class: 'sr-only, navbar-link'  %>
  </div>
<% end %>
</div>
</div>
</nav>