<!DOCTYPE html>
<html>
  <head>
    <title>Andy Book</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

<div class="container-fluid">
  <body>
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/not_signed_in' %>
  <div>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  <div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <%= yield %>
      </div>
      </div class="col-md-2">
      </div>
    </div>
  </body>
</div>
</html>
